/* Styles go here */

.chips{
    background-color: #0C7489;
    border-radius: 15px !important;
    font-size: 0.9em;
    color: white;    margin:2px;

    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  
  .chipsContainer{
    margin:3px;
    height: 40px;
  }
  
  .pointer{
    cursor: pointer;
  }