<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-2 bg-light border-right bg-light border-right" id="sidebar-wrapper">
            <app-nav-bar></app-nav-bar>
        </div>

        <div class="pt-1 col-sm-10  " style="text-align:left">
            <div class="shadow-sm  mb-2 bg-white rounded pt-2 pl-3 border">
                <h5>Selected PO‘s</h5>
                <app-selected-pos></app-selected-pos>
            </div>
            <div>
                <!-- <div  style="margin: 25px 8px;" src="assets/return.svg" (click)="ReturnPOEvents()"></div> -->
                
            </div>
            <div class="row pr-3  pl-3">
                <div class="bg shadow-sm p-3 mb-2 bg-white rounded border col-sm-12">
                    <nav>
                        <div class="p-3 nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                <h5>PURCHASE ORDER EVENT</h5>

                            </a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                                <h5>PURCHASE ORDER DETAIL</h5>
                            </a>
                        </div>
                    </nav>

                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="col-sm-12 tab-pane fade show active table-responsive " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <app-purchase-order-event></app-purchase-order-event>
                        </div>
                        <div class="col-sm-12 tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <app-purchase-order-details></app-purchase-order-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>