<div *ngIf="disp" class="card shadow-sm pt-2 mb-2 bg-white rounded">

    <div *ngIf="disp" class="card-body">
        <div class="row">
            <div class="text-center col-sm bg-muted">
                <i class="text-primary fa fa-2x fa-user-circle"></i>
                <div>
                    <pre class="text-muted">PO By</pre>

                    <span class="h5">{{commonDetail.purchaseOrderBy}} </span>
                </div>
                <div class="text-primary">
                    {{commonDetail.tenderNumber}}
                    <pre class="text-muted">Tender Number</pre>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <p class="h5">{{commonDetail.fundingSource}} </p>

                    <pre class="text-muted">Funding Source</pre>
                </div>
                <div>
                    <p class="h5">{{commonDetail.incoterm}} </p>

                    <pre class="text-muted">Order Type</pre>
                </div>
                <div>
                    <p class="h5">{{commonDetail.shipmentType}} </p>

                    <pre class="text-muted">Shipment Mode</pre>
                </div>
            </div>

            
            <div class="col-sm text-right">
                <p class="h4">{{commonDetail.termofPayment}} </p>
                <pre class="text-muted">Term of Payment</pre>

                <div>
                    <span class="h5"> $ </span>
                    <p class="h1 d-inline text-primary">{{commonDetail.totalPOValue}} </p>

                    <pre class="text-muted"> Total Value</pre>

                </div>
                <p class="h5">{{commonDetail.purchaseOrderDate | date: 'mediumDate'}} </p>
                <pre class="text-muted">Purchase Order Date</pre>

            </div>
        </div>

    </div>

</div>
<h6 class="blink text-center" *ngIf="purchaseOrderID.length==0">PLEASE SELECT PO TO DISPLAY DETAILS OF PURCHASE ORDER
</h6>
<h6 class="blink text-center" *ngIf="error">FAILED TO FETCH DETAIL FOR SELECTED PO.

</h6>
<div *ngIf="!disp && purchaseOrderID.length > 0 && !error">
    <div class="mx-auto text-center lds-css ng-scope">
        <div class="mx-auto lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
        Loading ...
    </div>
</div>
<div class="text-justify" *ngIf="disp" class="card">
    <div class="card-content">
        <table class="table table-striped table-hover">
            <thead>
                <th class="i vents-table-th">Item Number</th>
                <th class="i vents-table-th">Item Name</th>
                <th class="i vents-table-th">Unit</th>
                <th class="i vents-table-th">PO Quantity</th>
                <th class="i vents-table-th">Unit Price</th>
                <th class="i vents-table-th">Manufacturer</th>
                <th class="i vents-table-th">Manufacturer Country</th>
            </thead>
            <tbody>
                <tr *ngFor="let i of purchaseOrderDetails">
                    <td class="i vents-table-td">{{i.itemNumber}}</td>
                    <td class="i vents-table-td">{{i.fullItemName}}</td>
                    <td class="i vents-table-td">{{i.unit}}</td>
                    <td class="i vents-table-td">{{i.quantity}}</td>
                    <td class="i vents-table-td">{{i.unitPrice}}</td>
                    <td class="i vents-table-td">{{i.manufacturer}}</td>
                    <td class="i vents-table-td">{{i.countryManufacturerName}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>